[user]
	name = Ernesto Tagwerker
	email = ernesto+github@ombulabs.com
[core]
  editor = /usr/bin/vim
[help]
  autocorrect = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
